body{
    padding: 0;
    margin: 0;
    background-color: white;
}
button{
    background-color: 18974;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topNav {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .logo{
    width: 170px;
  }
  .rowFlex {
    border: solid 2px orange;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
  }

  .newsImage {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 450px;
    width: 530px;
    padding: 10px;
  }
  .imageText{
display: flex;
flex-direction: column;
  }
  .dogText{
    display: flex;
    align-self: center;
  }