body{
    padding: 0;
    margin: 0;
    background-color: chocolate;
}
button{
    background-color: 18974;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topNav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }