body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: fantasy;
    font-size: large;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: 18974;
    font-weight: bold;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #a97d0c;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
.title {
  display: flex;
  justify-content: left;
  background-color: orange;
}
.flexyEnd {
  display: flex;
  justify-content: flex-end;
}
.logoTop{
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.topNav {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 15px;
  }
  .textWhite{
    font-weight: bold;
    color: white;
  }
  .logo{
    width: 170px;
  }
  .rowFlex {
    border: solid 2px orange;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
  }

  .newsImage {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 450px;
    width: 530px;
    padding: 10px;
  }
  .imageText{
display: flex;
flex-direction: column;
  }
  .padLR{
    padding-left: 250px;
    padding-right: 250px;
  }
  .boldy{
    font-weight: bolder;
  }
  .dogText{
    display: flex;
    align-self: center;
    font-size: larger;
    font-weight: bolder;
  }
  .center{
    font-size: larger;
    font-weight: bolder;
    padding-left: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }